@font-face {
  font-family: "KumbhSans";
  src: url(assets/fonts/Kumbh_Sans/KumbhSans-VariableFont_YOPQ\,wght.ttf);
}

@font-face {
  font-family:"KumbhSans-Regular" ;
  src: url(assets/fonts/Kumbh_Sans/static/KumbhSans-Regular.ttf);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:"KumbhSans-Regular" ;
  font-size: 18px;
}

html{
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
}

#root{
  width: 100%;
  height: 100%;
  background-color: hsl(185, 75%, 39%);
}